@keyframes left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* ...existing code... */

@keyframes moveBox {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(70rem);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    
  }
}

.box1 {
  animation: moveBox 5s infinite ease-in-out alternate both; 
}

